body {
    font-family: Arial, sans-serif;
  }
  
  #movie-details {
    width: 50%;
    float: left;
  }
  
  #films {
    width: 50%;
    float: left;
    list-style-type: none;
    padding: 0;
  }
  
  .film {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .sold-out {
    color: red;
  }